@use '../Reponsive/breakpoints.scss' as breakpoints;
@import '../color.scss';

.headerLogo {
  padding-top: 32px;
  padding-bottom: 32px;

  .btn_header {
    display: none;
  }

  @include breakpoints.devices(xs) {
    padding-top: 0px;
    padding-bottom: 24px;
    .headerLogo__logo {
      width: 112px;
      height: 56px;
    }
    .btn_header {
      display: block;
      padding: 12px;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: var(--fill-primary-default, #8e4ec6);
      border: none;
      margin-top: 12px;
    }
  }
}

.container {
  @include breakpoints.devices(xs) {
    display: flex;
    padding: 0 17.5px;
    justify-content: space-between;
  }
  margin: 0 auto;
  text-align: center;
}
