:root {
  --text-primary-default: rgba(142, 78, 198, 1);
  --text-gray-default: rgba(59, 59, 59, 1);
  --stroke-gray-default: rgba(219, 219, 219, 1);
  --text-gray-default-weak: rgba(143, 143, 143, 1);
  --text-primary-weak: rgba(254, 252, 254, 1);
  --fill-primary-default: rgba(142, 78, 198, 1);
  --fill-white: rgba(255, 255, 255, 1);
  --stroke-gray-disable: rgba(226, 226, 226, 1);
  --fill-gray-disable: rgba(237, 237, 237, 1);
  --fill-gray-hover-weak:rgba(243, 243, 243, 1);
  --text-disable: rgba(158, 158, 158, 1);
  --fill-success-default: rgba(48, 164, 108, 1);
  --fill-destructive-default: rgba(229, 72, 77, 1);
  --background-pop-up: rgba(23, 23, 23, 0.7);
}