@use './Reponsive/breakpoints.scss' as breakpoints;
@import './color.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:where(.css-2q8sxy).ant-col-12 {
  @include breakpoints.devices(sm) {
    max-width: 100%;
  }
}

:where(.css-2q8sxy).ant-modal .ant-modal-content {
  @include breakpoints.devices(sm) {
    padding: 24px;
    border-radius: 4px;
  }
}

textarea:where(.css-2q8sxy).ant-input {
  @include breakpoints.devices(sm) {
    height: 156px !important;
  }
}

:where(.css-2q8sxy).ant-select-single.ant-select-customize-input
  .ant-select-selector
  .ant-select-selection-search {
  @include breakpoints.devices(sm) {
    margin-left: 17px;
  }
}

:where(.css-2q8sxy).ant-modal .ant-modal-content {
  padding: 40px;
  border-radius: 4px;
  background: var(--fill-white, #fff);

  @include breakpoints.devices(sm) {
    padding: 24px;
  }
}

:where(.css-2q8sxy).ant-drawer .ant-drawer-body {
  padding: 40px;

  @include breakpoints.devices(sm) {
    padding: 24px 17px;
  }
}

:where(.css-2q8sxy).ant-drawer .ant-drawer-header {
  padding: 12px 17px;
}

// :where(.css-2q8sxy).ant-btn {
//   font-size: 0px;
//   height: 0x;
//   padding: 0px;
//   border-radius: 0px;
// }

// css input type = checkbox
#checkbox_1 {
  width: 20px;
  accent-color: rgba(142, 78, 198, 1);
}

.ant-message {
  .ant-message-notice-wrapper {
    .ant-message-notice-content {
      border-radius: 4px;
      background: var(--fill-destructive-default, #e5484d);
      padding: 12px 24px;
      color: var(--text-destructive-weak, #fffcfc);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      margin-top: 11.9vh;

      @include breakpoints.devices(sm) {
        padding: 8px 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-top: 16vh;
      }
    }
  }
}

.success-message .ant-message-notice-content {
  background: var(--fill-success-default, #30a46c) !important;
  margin-top: 2.1vh !important;

  @include breakpoints.devices(sm) {
    margin-top: -1.3vh !important;
  }
}

.ant-message-custom-content {
  display: flex;
  gap: 8px;
}

:where(.css-2q8sxy).ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input {
  border-color: var(--stroke-destructive-default, #eb9091);
}

:where(.css-2q8sxy).ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:focus,
:where(.css-2q8sxy).ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:focus-within {
  border-color: var(--stroke-destructive-default, #eb9091);
}

:where(.css-2q8sxy).ant-drawer .ant-drawer-title {
  color: var(--text-gray-default, #3b3b3b);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
