$xs: 400px; // màn hình nhỏ
$sm: 600px; // màn hình đt
$md: 800px; // màn hình tablets
$lg: 1280px; // màn hình lap
$xl: 1440px; // màn hình desktop / monitors
$xxl: 1920px; // màn hình lớn

@mixin devices($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: $xs) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media only screen and (max-width: $sm) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (max-width: $md) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (max-width: $lg) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (max-width: $xl) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media only screen and (max-width: $xxl) {
      @content;
    }
  }
}
